body {
    font-family: Arial, sans-serif;
    background-color: #666363;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgb(253, 231, 28);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Apple Chancery, cursive
}

h2 {
    font-family: Apple Chancery, cursive;
    color: #000000;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 90%;
}


input[type="submit"] {
    font-family: Apple Chancery, cursive;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #00fff2;
    border-radius: 4px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
}

form button {
    font-family: Apple Chancery, cursive;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #00fff2;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

form button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}
